* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Nanum Gothic Coding", Inconsolata, monospace;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 1rem;
  }
}

#message {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

a {
  margin: 0 1rem;
}

.footer {
  position: absolute;
  bottom: 10px;
  color: #ccc;
  font-size: 2rem;
}
